<script>
	import Header from './Header.svelte';
	import './styles.css';
	import "../app.css";
	import Circles from './Circles.svelte';
	import Background from './Background.svelte';
</script>

<svelte:head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="true">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,300;0,500;0,600;0,700;1,100;1,200;1,300;1,500;1,600&display=swap" rel="stylesheet">
</svelte:head>

<div class="app">
	<Header />
	<Circles/>
	<Background/>
	<main>
		<slot />
	</main>
</div>

<style lang="postcss">
	.app {
		@apply font-default;
	}
	div[aria-label="backdrop"] {
		background-color: #0B0B22;
		backdrop-filter: blur(87.5px);
		@apply h-full w-full absolute top-0 left-0 -z-10;
	}

	main {
		@apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 z-10 overflow-hidden min-h-screen;
	}
</style>
