<svg
	width="1404"
	height="5416"
	viewBox="0 0 1404 5416"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
>
	<ellipse
		cx="392.146"
		cy="385.089"
		rx="392.146"
		ry="385.089"
		transform="matrix(0.969732 -0.244172 0.253855 0.967242 210.148 63.6521)"
		fill="#16FCD2"
	/>
	<ellipse
		cx="219.466"
		cy="215.517"
		rx="219.466"
		ry="215.517"
		transform="matrix(0.969732 -0.244172 0.253855 0.967242 88 1370.34)"
		fill="#FCA016"
	/>
	<ellipse
		cx="178.305"
		cy="175.096"
		rx="178.305"
		ry="175.096"
		transform="matrix(0.969732 -0.244172 0.253855 0.967242 367 1192.54)"
		fill="#16FCD2"
	/>
	<ellipse
		cx="219.466"
		cy="215.517"
		rx="219.466"
		ry="215.517"
		transform="matrix(0.969732 -0.244172 0.253855 0.967242 626 2007.98)"
		fill="#FC165B"
	/>
	<ellipse
		cx="178.305"
		cy="175.096"
		rx="178.305"
		ry="175.096"
		transform="matrix(0.969732 -0.244172 0.253855 0.967242 905 1830.18)"
		fill="#6016FC"
	/>
	<ellipse
		cx="392.146"
		cy="385.089"
		rx="392.146"
		ry="385.089"
		transform="matrix(0.969732 -0.244172 0.253855 0.967242 -327 198.902)"
		fill="#FCA016"
	/>
	<ellipse
		cx="392.146"
		cy="385.089"
		rx="392.146"
		ry="385.089"
		transform="matrix(0.969732 -0.244172 0.253855 0.967242 532.438 -17.498)"
		fill="#FC165B"
	/>
	<ellipse
		cx="219.466"
		cy="215.517"
		rx="219.466"
		ry="215.517"
		transform="matrix(0.969732 -0.244172 0.253855 0.967242 790.714 5045.17)"
		fill="#16FCD2"
	/>
	<ellipse
		cx="178.305"
		cy="175.096"
		rx="178.305"
		ry="175.096"
		transform="matrix(0.969732 -0.244172 0.253855 0.967242 124 4997.07)"
		fill="#6016FC"
	/>
</svg>


<style lang="postcss">
  svg {
    @apply mx-auto
  }

</style>