<script>
	import { page } from '$app/stores';
	const navigation = {
		home: {
			name: 'Home',
			href: '/',
		},
		howWeWork: {
			name: 'How We Work',
			href: '/how-we-work',
		},
		about: {
			name: 'About',
			href: '/about',
		},
		projects: {
			name: 'Projects',
			href: '/projects',
		},
	};
</script>

<header>
	<div class="corner">
		<span>Collosal</span>
	</div>
	<nav>
		<ul>
			{#each Object.values(navigation) as { name, href }}
				<li
					aria-current={$page.url.pathname === href ? 'page' : undefined}
				>
					<a
						class="text-blue-500"
						href={href}
					>
						{name}
					</a>
				</li>
			{/each}
		</ul>
	</nav>
	<a class="button-link" href="/contact">Contact</a>
</header>

<style lang="postcss">
	header {
		@apply flex justify-between items-center py-5 px-3 text-white;
	}

	nav ul {
		@apply flex gap-5 font-normal;
	}

	nav ul li a{
		@apply font-light text-white;
	}
	
	nav li[aria-current="page"] a {
		@apply font-medium;
	}

	.button-link{
		@apply px-7 py-2 font-medium bg-button-light;
	}
</style>
